<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/tokens.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <script type="speculationrules">
      {
        "prerender": [{
          "where": {
            "and": [
              { "href_matches": "/*" },
              { "not": {"href_matches": "/wp-admin"}},
              { "not": {"href_matches": "/*\\?*(^|&)add-to-cart=*"}},
              { "not": {"selector_matches": ".do-not-prerender"}},
              { "not": {"selector_matches": "[rel~=nofollow]"}}
            ]
          }
        }]
      }
    </script>
  </head>
  <body>
    <header>
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
      <nav>
        <ul>
          {% for item in site.pages %}
            {% if item.nav_exclude != true and item.title %}
              <li>
                <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

  </body>
</html>